# Web Scrapping

### Exrtacting ipl 2013-2024 auction data

In [1]:
# importing necessary libaries
import pandas as pd
import requests
from bs4  import BeautifulSoup

## Fetching team fund data

In [53]:
urls = ["https://www.iplt20.com/auction/2024",
        "https://www.iplt20.com/auction/2023",
        "https://www.iplt20.com/auction/2022",
        "https://www.iplt20.com/auction/2021",
        "https://www.iplt20.com/auction/2020",
        "https://www.iplt20.com/auction/2019",
        "https://www.iplt20.com/auction/2018",
        "https://www.iplt20.com/auction/2017",
        "https://www.iplt20.com/auction/2016",
        "https://www.iplt20.com/auction/2015",
        "https://www.iplt20.com/auction/2014",
        "https://www.iplt20.com/auction/2013"]
#collectong all dataframes
all_data = []
for url in urls:
    response = requests.get(url)
    html = BeautifulSoup(response.text,'html.parser')
    
    # only accessing table with class ih-td-tab w-100 auction-tbl and ih-td-tab w-100 for year 2019
    if url[-4:] == '2019':
        tables = html.find_all('table', {'class': 'ih-td-tab w-100'})

    else:
        tables = html.find_all('table', {'class': 'ih-td-tab w-100 auction-tbl'})
    
    # extracting overview 1st table
    overview_table = tables[0]
    rows = overview_table.find_all('tr')
    overview_column = rows[0].text.strip('\n').split('\n')[1:]
    data = []
    
    for x in range(1, len(rows)):
        row_data = [item for item in rows[x].text.strip().split('\n') if item.strip()]
        
        # Remove first column only for 2021 and 2022 as it contains serial number while other year doesn't
        if url[-4:] in ['2022', '2021']:
            row_data = row_data[1:]
        
        data.append(row_data)
    
    # creating dataframe
    datafra = pd.DataFrame(data,columns = overview_column)
    
    # adding year column
    datafra['YEAR'] = url[-4:]
    
    all_data.append(datafra)

overview = pd.concat(all_data, ignore_index=True)
overview

,TEAM,FUNDS REMAINING,OVERSEAS PLAYERS,TOTAL PLAYERS,YEAR
0,Chennai Super Kings,"₹1,00,00,000",8,25,2024
1,Delhi Capitals,"₹9,90,00,000",8,25,2024
2,Gujarat Titans,"₹7,85,00,000",8,25,2024
3,Kolkata Knight Riders,"₹1,35,00,000",8,23,2024
4,Lucknow Super Giants,"₹95,00,000",8,25,2024
...,...,...,...,...,...
98,Mumbai Indians,"$341,739",11,28,2013
99,Pune Warriors India,"$804,130",11,33,2013
100,Rajasthan Royals,"$7,071,304",10,21,2013
101,Royal Challengers Bengaluru,"$711,522",10,31,2013
102,Sunrisers Hyderabad,"$5,583,696",11,26,2013

## Fetching Top buys data

In [55]:
# extracting top buy table

all_data = []
for uni in urls:
    response = requests.get(uni)
    html = BeautifulSoup(response.text,'html.parser')
    tables = html.find_all('table', {'class': 'ih-td-tab w-100 auction-tbl'})
    if uni[-4:] == '2019':
        top_buys_table = tables[0]
    elif uni[-4:] == '2023':
        top_buys_table = tables[11]
    else:
        top_buys_table = tables[1]
    
    rows = top_buys_table.find_all('tr')
    top_buys_column = rows[0].text.strip('\n').split('\n')[1:]
    if uni[-4:] == '2022':
        top_buys_column = rows[0].text.strip('\n').split('\n')
    data = []
    for x in range(1, len(rows)):
        row_data = [item for item in rows[x].text.strip().split('\n') if item.strip()]
        
        # Remove first column only for 2021 as it contains serial number while other year doesn't
        if uni[-4:] == '2021':
            row_data = row_data[1:]
        
        data.append(row_data)
    
    # creating dataframe
    df1 = pd.DataFrame(data,columns = top_buys_column)
    
    # adding year column
    df1['YEAR'] = uni[-4:]
    
    all_data.append(df1)

top_buys = pd.concat(all_data,ignore_index = True)
top_buys

,TEAM,PLAYER,TYPE,PRICE,YEAR
0,Kolkata Knight Riders,Mitchell Starc,Bowler,"₹24,75,00,000",2024
1,Sunrisers Hyderabad,Pat Cummins,All-Rounder,"₹20,50,00,000",2024
2,Chennai Super Kings,Daryl Mitchell,All-Rounder,"₹14,00,00,000",2024
3,Punjab Kings,Harshal Patel,All-Rounder,"₹11,75,00,000",2024
4,Royal Challengers Bengaluru,Alzarri Joseph,Bowler,"₹11,50,00,000",2024
...,...,...,...,...,...
98,Pune Warriors India,Abhishek Nayar,All-Rounder,"$675,000",2013
99,Sunrisers Hyderabad,Thisara Perera,All-Rounder,"$675,000",2013
100,Kolkata Knight Riders,Sachithra Senanayaka,All-Rounder,"$625,000",2013
101,Chennai Super Kings,Christopher Morris,All-Rounder,"$625,000",2013
102,Chennai Super Kings,Dirk Nannes,Bowler,"$600,000",2013

## Fetching Sold Players Data

In [56]:
all_data = []

for url in urls:
    response = requests.get(url)
    html = BeautifulSoup(response.text,'html.parser')
    
    # we have diff. table class 
    if url[-4:] == '2024':
        tables=html.find_all('table',{'class':'ih-td-tab w-100 auction-tbl t1'})
    elif url[-4:] in ['2023','2022','2021']:
        tables=html.find_all('table',{'class':'ih-td-tab w-100 auction-tbl'})
    else:
        tables=html.find_all('table',{'class':'ih-td-tab w-100 auction-tbl sold-players'})
    
    if url[-4:] == '2024':
        teams = []
        result = [h2 for h2 in html.find_all('h2') if h2.find('img')]
        for h2 in result:
            teams.append(h2.text)
        data = []
        
        for x in range(len(tables)):
            sold_table = tables[x]
            rows = sold_table.find_all('tr')
            header = rows[0].text.strip('\n').split('\n')[1:] # we don,t want serial number
            
            for y in range(1, len(rows)):
                row_data = [item for item in rows[y].text.strip().split('\n') if item.strip()]
                row_data.append(teams[x])  # Match team with table (offset by 2)
                row_data.append(url[-4:])
                data.append(row_data[1:])
                
        header.append('TEAM')
        header.append('YEAR')
        df1 = pd.DataFrame(data,columns = header)
        df1.drop(columns='NATIONALITY', inplace = True)
        all_data.append(df1)
    
    elif url[-4:] == '2023':
        teams = []
        result = [h2 for h2 in html.find_all('h2') if h2.find('img')]
        for h2 in result:
            teams.append(h2.text)        
        data = []
        
        for x in range(1,len(tables)-2):
            sold_table = tables[x]
            rows = sold_table.find_all('tr')
            header = rows[0].text.strip('\n').split('\n')[1:]
            
            for y in range(1, len(rows)):
                row_data = [item for item in rows[y].text.strip().split('\n') if item.strip()]
                row_data.append(teams[x - 1])  # Match team with table (offset by 2)
                row_data.append(url[-4:])
                data.append(row_data[1:])
                
        header.append('TEAM')
        header.append('YEAR')
        df1 = pd.DataFrame(data,columns = header)
        df1.drop(columns='NATIONALITY', inplace = True)
        all_data.append(df1)

    
    elif url[-4:] == '2022':
        teams = []
        result = [h2 for h2 in html.find_all('h2') if h2.find('img')]
        for h2 in result:
            teams.append(h2.text)
        data = []
        
        for x in range(3,len(tables)-1):
            sold_table = tables[x]
            rows = sold_table.find_all('tr')
            header = rows[0].text.strip('\n').split('\n')[1:]
            
            for y in range(1, len(rows)):
                row_data = [item for item in rows[y].text.strip().split('\n') if item.strip()]
                row_data.append(teams[x - 3])  # Match team with table (offset by 2)
                row_data.append(url[-4:])
                data.append(row_data[1:])
                
        header.append('TEAM')
        header.append('YEAR')
        df1 = pd.DataFrame(data,columns = header)
        df1.drop(columns='NATIONALITY', inplace = True) # don,t want this column because other columns don't have nationality column
        all_data.append(df1)
    
    elif url[-4:] == '2021':
        teams = []
        result = [h2 for h2 in html.find_all('h2') if h2.find('img')]
        for h2 in result:
            teams.append(h2.text)
        data = []
    
        for x in range(2,len(tables)-1):
            sold_table = tables[x]
            rows = sold_table.find_all('tr')
            header = rows[0].text.strip('\n').split('\n')[1:]
                
            for y in range(1, len(rows)):
                row_data = [item for item in rows[y].text.strip().split('\n') if item.strip()]
                row_data.append(teams[x - 2])  
                row_data.append(url[-4:])
                data.append(row_data[1:])
        header.append('TEAM')
        header.append('YEAR')
        df2 = pd.DataFrame(data,columns = header)
        all_data.append(df2)

    else:
        teams = []
        result = [h2 for h2 in html.find_all('h2') if h2.find('img')]
        for h2 in result:
            teams.append(h2.text)
        data = []
        if url[-4:] == '2020':
            for x in range(len(tables)-1):
                sold_table = tables[x]
                rows = sold_table.find_all('tr')
                header = rows[0].text.strip('\n').split('\n')[1:]
               
                for y in range(1, len(rows)):
                    row_data = [item for item in rows[y].text.strip().split('\n') if item.strip()]
                    row_data.append(teams[x])  # Match team with table (offset by 2)
                    row_data.append(url[-4:])
                    data.append(row_data)
                    
            header.append('TEAM')
            header.append('YEAR')
            df2 = pd.DataFrame(data,columns = header)
            all_data.append(df2)

        else:
            for x in range(len(tables)):
                
                sold_table = tables[x]
                rows = sold_table.find_all('tr')
                header = rows[0].text.strip('\n').split('\n')[1:]
               
                for y in range(1, len(rows)):
                    row_data = [item for item in rows[y].text.strip().split('\n') if item.strip()]
                    row_data.append(teams[x])  # Match team with table (offset by 2)
                    row_data.append(url[-4:])
                    data.append(row_data)
                    
            header.append('TEAM')
            header.append('YEAR')
            df2 = pd.DataFrame(data,columns = header)
            all_data.append(df2)


tables=html.find_all('table',{'class':'ih-td-tab w-100 auction-tbl'})
last_sold = tables[2]
rows = last_sold.find_all('tr')
header = rows[0].text.strip('\n').split('\n')[1:]
data = []
for y in range(1, len(rows)):
    row_data = [item for item in rows[y].text.strip().split('\n') if item.strip()]
    row_data.append('Sunrisers Hyderabad')
    row_data.append(url[-4:])
    data.append(row_data)
header.append('TEAM')
header.append('YEAR')
df3 = pd.DataFrame(data,columns = header)
all_data.append(df3)

# https://www.iplt20.com/auction/2022 2022 year has one extra column of nationality so we will fetch it manually then drop that extra column
# and add that to other data


sold_players = pd.concat(all_data,ignore_index = True)
sold_players

,PLAYER,TYPE,PRICE PAID,TEAM,YEAR
0,Avanish Rao Aravelly,Wicket-Keeper,"20,00,000",Chennai Super Kings,2024
1,Mustafizur Rahman,Bowler,"2,00,00,000",Chennai Super Kings,2024
2,Daryl Mitchell,All-Rounder,"14,00,00,000",Chennai Super Kings,2024
3,Sameer Rizvi,Batter,"8,40,00,000",Chennai Super Kings,2024
4,Rachin Ravindra,All-Rounder,"1,80,00,000",Chennai Super Kings,2024
...,...,...,...,...,...
1117,Darren Sammy,All-Rounder,"425,000",Sunrisers Hyderabad,2013
1118,Sudeep Tyagi,Bowler,"100,000",Sunrisers Hyderabad,2013
1119,Clinton McKay,Bowler,"100,000",Sunrisers Hyderabad,2013
1120,Nathan McCullum,Bowler,"100,000",Sunrisers Hyderabad,2013
1121,Quinton De Kock,Wicket Keeper,"20,000",Sunrisers Hyderabad,2013

## Extracted all the data from web

## Now doing and cleaning things for visualization

## standardizing column names

In [57]:
overview.columns

Index(['TEAM', 'FUNDS REMAINING', 'OVERSEAS PLAYERS ', 'TOTAL PLAYERS',
       'YEAR'],
      dtype='object')

In [58]:
overview.columns = overview.columns.str.strip()
overview.columns

Index(['TEAM', 'FUNDS REMAINING', 'OVERSEAS PLAYERS', 'TOTAL PLAYERS', 'YEAR'], dtype='object')

In [59]:
overview.columns = overview.columns.str.lower().str.replace(' ','_')
top_buys.columns = top_buys.columns.str.lower().str.replace(' ','_')
sold_players.columns = sold_players.columns.str.lower().str.replace(' ','_')

## Matching Teams name

### like some teams have different-different across the years so changing that to their current name

### overview table

In [60]:
overview.loc[overview['team'].str.contains('Delhi'), 'team'] = 'Delhi Capitals'
overview.loc[overview['team'].str.contains('Punjab'), 'team'] = 'Punjab Kings'
overview.loc[overview['team'].str.contains('Bengaluru'), 'team'] = 'Royal Challengers Bangalore'
overview.loc[overview['team'].str.contains('Gujarat'), 'team'] = 'Gujarat Titans'

In [61]:
overview

,team,funds_remaining,overseas_players,total_players,year
0,Chennai Super Kings,"₹1,00,00,000",8,25,2024
1,Delhi Capitals,"₹9,90,00,000",8,25,2024
2,Gujarat Titans,"₹7,85,00,000",8,25,2024
3,Kolkata Knight Riders,"₹1,35,00,000",8,23,2024
4,Lucknow Super Giants,"₹95,00,000",8,25,2024
...,...,...,...,...,...
98,Mumbai Indians,"$341,739",11,28,2013
99,Pune Warriors India,"$804,130",11,33,2013
100,Rajasthan Royals,"$7,071,304",10,21,2013
101,Royal Challengers Bangalore,"$711,522",10,31,2013
102,Sunrisers Hyderabad,"$5,583,696",11,26,2013

### top_buys table

In [62]:
top_buys.loc[top_buys['team'].str.contains('Delhi'), 'team'] = 'Delhi Capitals'
top_buys.loc[top_buys['team'].str.contains('Punjab'), 'team'] = 'Punjab Kings'
top_buys.loc[top_buys['team'].str.contains('Bengaluru'), 'team'] = 'Royal Challengers Bangalore'
top_buys.loc[top_buys['team'].str.contains('Gujarat'), 'team'] = 'Gujarat Titans'

In [63]:
top_buys

,team,player,type_,price,year
0,Kolkata Knight Riders,Mitchell Starc,Bowler,"₹24,75,00,000",2024
1,Sunrisers Hyderabad,Pat Cummins,All-Rounder,"₹20,50,00,000",2024
2,Chennai Super Kings,Daryl Mitchell,All-Rounder,"₹14,00,00,000",2024
3,Punjab Kings,Harshal Patel,All-Rounder,"₹11,75,00,000",2024
4,Royal Challengers Bangalore,Alzarri Joseph,Bowler,"₹11,50,00,000",2024
...,...,...,...,...,...
98,Pune Warriors India,Abhishek Nayar,All-Rounder,"$675,000",2013
99,Sunrisers Hyderabad,Thisara Perera,All-Rounder,"$675,000",2013
100,Kolkata Knight Riders,Sachithra Senanayaka,All-Rounder,"$625,000",2013
101,Chennai Super Kings,Christopher Morris,All-Rounder,"$625,000",2013
102,Chennai Super Kings,Dirk Nannes,Bowler,"$600,000",2013

### sold_players table

In [64]:
sold_players.loc[sold_players['team'].str.contains('Delhi'), 'team'] = 'Delhi Capitals'
sold_players.loc[sold_players['team'].str.contains('Punjab'), 'team'] = 'Punjab Kings'
sold_players.loc[sold_players['team'].str.contains('Bengaluru'), 'team'] = 'Royal Challengers Bangalore'
sold_players.loc[sold_players['team'].str.contains('Gujarat'), 'team'] = 'Gujarat Titans'

In [65]:
sold_players

,player,type,price_paid,team,year
0,Avanish Rao Aravelly,Wicket-Keeper,"20,00,000",Chennai Super Kings,2024
1,Mustafizur Rahman,Bowler,"2,00,00,000",Chennai Super Kings,2024
2,Daryl Mitchell,All-Rounder,"14,00,00,000",Chennai Super Kings,2024
3,Sameer Rizvi,Batter,"8,40,00,000",Chennai Super Kings,2024
4,Rachin Ravindra,All-Rounder,"1,80,00,000",Chennai Super Kings,2024
...,...,...,...,...,...
1117,Darren Sammy,All-Rounder,"425,000",Sunrisers Hyderabad,2013
1118,Sudeep Tyagi,Bowler,"100,000",Sunrisers Hyderabad,2013
1119,Clinton McKay,Bowler,"100,000",Sunrisers Hyderabad,2013
1120,Nathan McCullum,Bowler,"100,000",Sunrisers Hyderabad,2013
1121,Quinton De Kock,Wicket Keeper,"20,000",Sunrisers Hyderabad,2013

## now cleaning price column in each table to perform aggreations

### overview table

In [66]:
overview.sample(5)

,team,funds_remaining,overseas_players,total_players,year
29,Sunrisers Hyderabad,"₹10,00,000",8,23,2022
2,Gujarat Titans,"₹7,85,00,000",8,25,2024
44,Royal Challengers Bangalore,"₹6,40,00,000",8,21,2020
91,Rajasthan Royals,"₹5,55,00,000",8,25,2014
0,Chennai Super Kings,"₹1,00,00,000",8,25,2024

## converting usd to inr - in 2013 the data is in usd

In [67]:
overview[overview['year']=='2013']

,team,funds_remaining,overseas_players,total_players,year
94,Chennai Super Kings,"$1,846,087",11,22,2013
95,Delhi Capitals,"$655,978",11,26,2013
96,Punjab Kings,"$6,072,826",8,23,2013
97,Kolkata Knight Riders,"$1,508,696",11,23,2013
98,Mumbai Indians,"$341,739",11,28,2013
99,Pune Warriors India,"$804,130",11,33,2013
100,Rajasthan Royals,"$7,071,304",10,21,2013
101,Royal Challengers Bangalore,"$711,522",10,31,2013
102,Sunrisers Hyderabad,"$5,583,696",11,26,2013

### creating function to convert in inr

In [68]:
def cur_into_rupees(series):
    funds = series['funds_remaining']
    if funds.__contains__('$'):
        usd = float(funds.lstrip('$').replace(',',''))
        inr = str(round((usd*53.158)/100000) * 100000) #multiplying with 53.15 as aucton held on February 3, 2013 and price of inr to usd was 53.15
        return inr

    else:
        return funds

In [69]:
overview.loc[overview['year']=='2013','funds_remaining'] = overview[overview['year']=='2013'].apply(cur_into_rupees,axis=1)

In [70]:
overview.sample(5)

,team,funds_remaining,overseas_players,total_players,year
8,Royal Challengers Bangalore,"₹2,85,00,000",8,25,2024
63,Gujarat Titans,"₹10,50,00,000",8,27,2017
102,Sunrisers Hyderabad,296800000,11,26,2013
5,Mumbai Indians,"₹1,05,00,000",8,25,2024
23,Kolkata Knight Riders,"₹45,00,000",8,25,2022

### top_buys table

In [71]:
top_buys.sample(5)

,team,player,type_,price,year
44,Delhi Capitals,Shimron Hetmyer,Batsman,"₹7,75,00,000",2020
41,Royal Challengers Bangalore,Christopher Morris,All-Rounder,"₹10,00,00,000",2020
36,Punjab Kings,Riley Meredith,Bowler,"₹8,00,00,000",2021
19,Sunrisers Hyderabad,Heinrich Klaasen,Wicket-Keeper,"₹5,25,00,000",2023
70,Kolkata Knight Riders,Nathan Coulter-Nile,Bowler,"₹3,50,00,000",2017

In [72]:
def cur_into_rupees2(series):
    funds = series['price']
    if funds.__contains__('$'):
        usd = float(funds.lstrip('$').replace(',',''))
        inr = str(round((usd*53.158)/100000) * 100000) #multiplying with 53.15 as aucton held on February 3, 2013 and price of inr to usd was 53.15
        return inr

    else:
        return funds

In [73]:
top_buys.loc[top_buys['year']=='2013','price'] = top_buys[top_buys['year']=='2013'].apply(cur_into_rupees2,axis=1)

In [74]:
top_buys[top_buys['year']=='2013']

                      team                player        type_     price  year
95          Mumbai Indians         Glenn Maxwell  All-Rounder  53200000  2013
96     Pune Warriors India        Ajantha Mendis       Bowler  38500000  2013
97     Pune Warriors India       Kane Richardson       Bowler  37200000  2013
98     Pune Warriors India        Abhishek Nayar  All-Rounder  35900000  2013
99     Sunrisers Hyderabad        Thisara Perera  All-Rounder  35900000  2013
100  Kolkata Knight Riders  Sachithra Senanayaka  All-Rounder  33200000  2013
101    Chennai Super Kings    Christopher Morris  All-Rounder  33200000  2013
102    Chennai Super Kings           Dirk Nannes       Bowler  31900000  2013

### sold_players table

In [75]:
sold_players.sample(5)

               player         type    price_paid                    team  year
830    Thisara Perera  All-Rounder   1,00,00,000  Rising Pune Supergiant  2016
856      Deepak Hooda  All-Rounder   4,20,00,000     Sunrisers Hyderabad  2016
27   Mitchell  Starc       Bowler   24,75,00,000   Kolkata Knight Riders  2024
739   R. Sanjay Yadav  All-Rounder     10,00,000   Kolkata Knight Riders  2017
855      Ashish Nehra       Bowler   5,50,00,000     Sunrisers Hyderabad  2016

In [76]:
def cur_into_rupees3(series):
    funds = series['price_paid']
    usd = float(funds.lstrip('$').replace(',',''))
    inr = str(round((usd*53.158)/100000) * 100000) #multiplying with 53.15 as aucton held on February 3, 2013 and price of inr to usd was 53.15
    return inr

In [77]:
sold_players.loc[sold_players['year']=='2013','price_paid'] = sold_players[sold_players['year']=='2013'].apply(cur_into_rupees3,axis=1)

In [78]:
sold_players[sold_players['year']=='2013']

,player,type,price_paid,team,year
1085,Christopher Morris,All-Rounder,33200000,Chennai Super Kings,2013
1086,Dirk Nannes,Bowler,31900000,Chennai Super Kings,2013
1087,Ben Laughlin,Bowler,1100000,Chennai Super Kings,2013
1088,Akila Dananjaya,All-Rounder,1100000,Chennai Super Kings,2013
1089,Jason Holder,Bowler,1100000,Chennai Super Kings,2013
1090,Johan Botha,All-Rounder,23900000,Delhi Capitals,2013
1091,Jesse Ryder,All-Rounder,13800000,Delhi Capitals,2013
1092,Jeevan Mendis,All-Rounder,2700000,Delhi Capitals,2013
1093,Manpreet Gony,Bowler,26600000,Punjab Kings,2013
1094,Luke Pomersbach,Batsman,15900000,Punjab Kings,2013
1095,Sachithra Senanayaka,All-Rounder,33200000,Kolkata Knight Riders,2013
1096,Ryan McLaren,Bowler,2700000,Kolkata Knight Riders,2013
1097,Glenn Maxwell,All-Rounder,53200000,Mumbai Indians,2013
1098,Nathan Coulter-Nile,Bowler,23900000,Mumbai Indians,2013
1099,Ricky Ponting,Batsman,21300000,Mumbai Indians,2013
1100,Philip Hughes,Batsman,5300000,Mumbai Indians,2013
1101,Jacob Oram,All-Rounder,2700000,Mumbai Indians,2013
1102,Ajantha Mendis,Bowler,38500000,Pune Warriors India,2013
1103,Kane Richardson,Bowler,37200000,Pune Warriors India,2013
1104,Abhishek Nayar,All-Rounder,35900000,Pune Warriors India,2013
1105,Michael Clarke,Batsman,21300000,Pune Warriors India,2013
1106,James Faulkner,All-Rounder,21300000,Rajasthan Royals,2013
1107,Fidel Edwards,Bowler,11200000,Rajasthan Royals,2013
1108,Kusal Janith Perera,Wicket Keeper,1100000,Rajasthan Royals,2013
1109,Jaydev Unadkat,Bowler,27900000,Royal Challengers Bangalore,2013
1110,Rudra Pratap Singh,Bowler,21300000,Royal Challengers Bangalore,2013
1111,Moises Henriques,All-Rounder,15900000,Royal Challengers Bangalore,2013
1112,Ravi Rampaul,Bowler,15400000,Royal Challengers Bangalore,2013
1113,Pankaj Singh,Bowler,8000000,Royal Challengers Bangalore,2013
1114,Daniel Christian,All-Rounder,5300000,Royal Challengers Bangalore,2013
1115,Christopher Barnwell,All-Rounder,2700000,Royal Challengers Bangalore,2013
1116,Thisara Perera,All-Rounder,35900000,Sunrisers Hyderabad,2013
1117,Darren Sammy,All-Rounder,22600000,Sunrisers Hyderabad,2013
1118,Sudeep Tyagi,Bowler,5300000,Sunrisers Hyderabad,2013
1119,Clinton McKay,Bowler,5300000,Sunrisers Hyderabad,2013
1120,Nathan McCullum,Bowler,5300000,Sunrisers Hyderabad,2013
1121,Quinton De Kock,Wicket Keeper,1100000,Sunrisers Hyderabad,2013

In [79]:
overview[overview['team'].str.contains('Gujarat')]

              team funds_remaining overseas_players total_players  year
2   Gujarat Titans    ₹7,85,00,000                8            25  2024
12  Gujarat Titans    ₹4,45,00,000                8            25  2023
22  Gujarat Titans      ₹15,00,000                8            23  2022
63  Gujarat Titans   ₹10,50,00,000                8            27  2017
71  Gujarat Titans    10,35,00,000                7            24  2016

## now cleaning price columns in each table

In [80]:
overview.sample(5)

                     team funds_remaining overseas_players total_players  year
64           Punjab Kings   ₹13,90,00,000                9            27  2017
58         Mumbai Indians      ₹65,00,000                8            25  2018
69    Sunrisers Hyderabad   ₹12,25,00,000                9            25  2017
99    Pune Warriors India        42700000               11            33  2013
13  Kolkata Knight Riders    ₹1,65,00,000                8            22  2023

In [81]:
overview['funds_remaining'] = overview['funds_remaining'].str.strip('₹').str.replace(',','').astype('int64')

In [82]:
overview['total_players'] = overview['total_players'].astype('int8')

In [83]:
overview['overseas_players'] = overview['overseas_players'].astype('int8')

In [84]:
top_buys.sample(5)

,team,player,type_,price,year
24,Delhi Capitals,Shardul Thakur,Bowler,"₹10,75,00,000",2022
68,Kolkata Knight Riders,Chris Woakes,All-Rounder,"₹4,20,00,000",2017
20,Mumbai Indians,Ishan Kishan,Wicket Keeper,"₹15,25,00,000",2022
62,Sunrisers Hyderabad,Rashid Khan Arman,Bowler,"₹9,00,00,000",2018
9,Rajasthan Royals,Rovman Powell,Batter,"₹7,40,00,000",2024

In [85]:
top_buys['price'] = top_buys['price'].str.strip('₹').str.replace(',','').astype('int64')
top_buys.columns = top_buys.columns.str.strip('_')

In [86]:
top_buys.columns

Index(['team', 'player', 'type', 'price', 'year'], dtype='object')

In [87]:
sold_players.sample(5)

,player,type,price_paid,team,year
935,Mohit Sharma,Bowler,"2,00,00,000",Chennai Super Kings,2014
677,Kulwant Khejroliya,Bowler,"85,00,000",Royal Challengers Bangalore,2018
258,Mayank Markande,Bowler,"65,00,000",Mumbai Indians,2022
470,Virat Singh,Batsman,"1,90,00,000",Sunrisers Hyderabad,2020
33,Ashton Turner,Batter,"1,00,00,000",Lucknow Super Giants,2024

In [88]:
sold_players['price_paid'] = sold_players['price_paid'].str.strip('₹').str.replace(',','').astype('int64')

### Removing Space if any exists in all 3 tables

In [89]:
all_tables = ['overview','top_buys','sold_players']
for y in all_tables:
    for x in y.columns:
        if y[x].dtype == object:
            y[x] = y[x].str.strip()

In [92]:
overview.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   team              103 non-null    object
 1   funds_remaining   103 non-null    int64
 2   overseas_players  103 non-null    int8
 3   total_players     103 non-null    int8
 4   year              103 non-null    object
dtypes: int64(1), int8(2), object(2)
memory usage: 2.7+ KB

In [120]:
sold_players['type'] = sold_players['type'].str.replace('Batter','Batsman')
sold_players['type'] = sold_players['type'].str.replace('Wicket Keeper','Wicket-Keeper')
sold_players

,player,type,price_paid,team,year
0,Avanish Rao Aravelly,Wicket-Keeper,2000000,Chennai Super Kings,2024
1,Mustafizur Rahman,Bowler,20000000,Chennai Super Kings,2024
2,Daryl Mitchell,All-Rounder,140000000,Chennai Super Kings,2024
3,Sameer Rizvi,Batsman,84000000,Chennai Super Kings,2024
4,Rachin Ravindra,All-Rounder,18000000,Chennai Super Kings,2024
...,...,...,...,...,...
1117,Darren Sammy,All-Rounder,22600000,Sunrisers Hyderabad,2013
1118,Sudeep Tyagi,Bowler,5300000,Sunrisers Hyderabad,2013
1119,Clinton McKay,Bowler,5300000,Sunrisers Hyderabad,2013
1120,Nathan McCullum,Bowler,5300000,Sunrisers Hyderabad,2013
1121,Quinton De Kock,Wicket-Keeper,1100000,Sunrisers Hyderabad,2013

In [121]:
top_buys['type'] = top_buys['type'].str.replace('Batter','Batsman')
top_buys['type'] = top_buys['type'].str.replace('Wicket Keeper','Wicket-Keeper')
top_buys

,team,player,type,price,year
0,Kolkata Knight Riders,Mitchell Starc,Bowler,247500000,2024
1,Sunrisers Hyderabad,Pat Cummins,All-Rounder,205000000,2024
2,Chennai Super Kings,Daryl Mitchell,All-Rounder,140000000,2024
3,Punjab Kings,Harshal Patel,All-Rounder,117500000,2024
4,Royal Challengers Bangalore,Alzarri Joseph,Bowler,115000000,2024
...,...,...,...,...,...
98,Pune Warriors India,Abhishek Nayar,All-Rounder,35900000,2013
99,Sunrisers Hyderabad,Thisara Perera,All-Rounder,35900000,2013
100,Kolkata Knight Riders,Sachithra Senanayaka,All-Rounder,33200000,2013
101,Chennai Super Kings,Christopher Morris,All-Rounder,33200000,2013
102,Chennai Super Kings,Dirk Nannes,Bowler,31900000,2013

## creating dataframes for connecting as it helps in visulaizations

In [99]:
unique = sold_players['team'].unique()
team_df = pd.DataFrame({'team': unique})
team_df['short_form'] = team_df['team'].apply(lambda x: ''.join([word[0] for word in x.split()]).upper())
team_df

                           team short_form
0           Chennai Super Kings        CSK
1                Delhi Capitals         DC
2                Gujarat Titans         GT
3         Kolkata Knight Riders        KKR
4          Lucknow Super Giants        LSG
5                Mumbai Indians         MI
6                  Punjab Kings         PK
7              Rajasthan Royals         RR
8   Royal Challengers Bangalore        RCB
9           Sunrisers Hyderabad         SH
10       Rising Pune Supergiant        RPS
11          Pune Warriors India        PWI

In [107]:
team_df.loc[team_df['team'] == 'Punjab Kings','short_form'] = 'PBKS'

In [110]:
logo_urls = [
    'https://documents.iplt20.com/ipl/franchises/1671190443_CSKroundbig%20%283%29%201.png',
    'https://documents.iplt20.com/ipl/franchises/1671190785_DCroundbig%20%282%29%201.png',
    'https://documents.iplt20.com/ipl/franchises/1671190498_GTroundbig%20%282%29%201.png',
    'https://documents.iplt20.com/ipl/franchises/1671190381_KKRroundbig%20%282%29%201.png',
    'https://documents.iplt20.com/ipl/franchises/1671190538_LSGroundbig%20%283%29%201.png',
    'https://documents.iplt20.com/ipl/franchises/1671190671_MIroundbig%20%283%29%201.png',
    'https://documents.iplt20.com/ipl/franchises/1671188073_PBKSroundbig%20%282%29%201.png',
    'https://documents.iplt20.com/ipl/franchises/1671190713_RRroundbig%20%283%29%201.png',
    'https://documents.iplt20.com/ipl/franchises/1671190586_RCBroundbig%20%282%29%201.png',
    'https://documents.iplt20.com/ipl/franchises/1671190639_SRHroundbig%20%282%29%201.png',
    'https://www.iplt20.com/assets/images/rising-pune-super.png',
    'https://www.iplt20.com/assets/images/pune-warior.png'
]
for x in team_df.index:
    team_df.loc[x,'logo_url'] = logo_urls[x]

In [111]:
team_df

,team,short_form,logo_url
0,Chennai Super Kings,CSK,https://documents.iplt20.com/ipl/franchises/16...
1,Delhi Capitals,DC,https://documents.iplt20.com/ipl/franchises/16...
2,Gujarat Titans,GT,https://documents.iplt20.com/ipl/franchises/16...
3,Kolkata Knight Riders,KKR,https://documents.iplt20.com/ipl/franchises/16...
4,Lucknow Super Giants,LSG,https://documents.iplt20.com/ipl/franchises/16...
5,Mumbai Indians,MI,https://documents.iplt20.com/ipl/franchises/16...
6,Punjab Kings,PBKS,https://documents.iplt20.com/ipl/franchises/16...
7,Rajasthan Royals,RR,https://documents.iplt20.com/ipl/franchises/16...
8,Royal Challengers Bangalore,RCB,https://documents.iplt20.com/ipl/franchises/16...
9,Sunrisers Hyderabad,SH,https://documents.iplt20.com/ipl/franchises/16...
10,Rising Pune Supergiant,RPS,https://www.iplt20.com/assets/images/rising-pu...
11,Pune Warriors India,PWI,https://www.iplt20.com/assets/images/pune-wari...

In [114]:
uni_year = sold_players['year'].unique()
year = pd.DataFrame({'year': uni_year})
year

    year
0   2024
1   2023
2   2022
3   2021
4   2020
5   2019
6   2018
7   2017
8   2016
9   2015
10  2014
11  2013

In [122]:
uni_type = sold_players['type'].unique()
types = pd.DataFrame({'type': uni_type})
types

            type
0  Wicket-Keeper
1         Bowler
2    All-Rounder
3        Batsman

### All Data Cleaned

## Now Injesting data to database

In [127]:
from sqlalchemy import create_engine
url = 'mysql+mysqlconnector://root:Ketan@localhost:3306/webscraped'
engine = create_engine(url)
overview.to_sql('overview', con = engine, index = False , if_exists = 'replace')
top_buys.to_sql('top_buys', con = engine, index = False , if_exists = 'replace')
sold_players.to_sql('sold_players', con = engine, index = False , if_exists = 'replace')
team_df.to_sql('teams', con = engine, index = False , if_exists = 'replace')
year.to_sql('year', con = engine, index = False , if_exists = 'replace')
types.to_sql('player_type', con = engine, index = False , if_exists = 'replace')

4

## taking these files csv as well

In [128]:
overview.to_csv('overview.csv', index = False)
top_buys.to_csv('top_buys.csv', index = False)
sold_players.to_csv('sold_players.csv', index = False)
team_df.to_csv('teams.csv', index = False)
year.to_csv('year.csv', index = False)
types.to_csv('player_type.csv', index = False)